# Pandas 08/10

In [49]:
import pandas as pd
import numpy as np

# Dataframe

In [50]:
# Obtaining column names and index from a DataFrame
arr = np.arange(6).reshape((3,2))
df = pd.DataFrame(arr, columns=['c1', 'c2'], index=['a', 'b', 'c'])
print(df)
# otteniamo oggetti di tipo Index sia per i nomi delle colonne sia per i nomi degli indici
print(df.columns) # Index object with column names
print(df.index) # Index object

   c1  c2
a   0   1
b   2   3
c   4   5
Index(['c1', 'c2'], dtype='object')
Index(['a', 'b', 'c'], dtype='object')

In [51]:
df = pd.DataFrame(np.random.randint(1,5, size=(4,3)), index= [f"i{i}" for i in range(4)], columns=[f"col{i}" for i in range(3)])
df

    col0  col1  col2
i0     4     4     2
i1     4     3     3
i2     3     2     2
i3     2     2     2

Accessing DataFrames

In [53]:
# Get a 2D Numpy array
arr = np.arange(6).reshape((3,2))
df = pd.DataFrame(arr, columns=['c1', 'c2'], index=['a', 'b', 'c'])
df, df.values

(   c1  c2
 a   0   1
 b   2   3
 c   4   5,
 array([[0, 1],
        [2, 3],
        [4, 5]]))

In [5]:
# Accessing DataFrames
# Access a DataFrame column
# Access rows and columns with indexing
# - df.loc (Explicit index or Slicing, masking, fancy indexing)
# - df.iloc (Implicit index)

# Whether a copy or view will be returned it depends on the context

In [54]:
# Accessing DataFrame columns --> Returns a Series with column data
arr = np.arange(6).reshape((3,2))
df = pd.DataFrame(arr, columns=['c1', 'c2'], index=['a', 'b', 'c'])
df['c1']

a    0
b    2
c    4
Name: c1, dtype: int32

In [55]:
# Accessing single DataFrame row by index
# - loc (explicit), iloc (implicit) -->  Return a Series with an element for each column
print(df.loc['a']) # get the first row that has 'a' index
print(df.iloc[0]) # get the first row

c1    0
c2    1
Name: a, dtype: int32
c1    0
c2    1
Name: a, dtype: int32

In [56]:
# Accessing DataFrames with slicing --> Allows selecting rows and columns
print(df.loc['b':'c', :]) # stampa le righe dall'indice a all'indice c e prende tutte le colonne

   c1  c2
b   2   3
c   4   5

In [59]:
# Accessing DataFrames with masking --> Select rows based on a condition
mask = (df['c1'] > 3)
df.loc[mask, :] # prende nella colonna c1 solo gli elementi > 4 e poi seleziona tutta la riga # masking and slicing

   c1  c2
c   4   5

In [60]:
price = pd.Series([1.0, 1.4, 5], index=['a', 'b', 'c'])
quantity = pd.Series([5, 10, 8], index=['a', 'b', 'c'])
liters = pd.Series([1.5, 0.3, 1], index=['a', 'b', 'c'])
df = pd.DataFrame({'Price':price, 'Quantity':quantity,
'Liters':liters})
print(df)

   Price  Quantity  Liters
a    1.0         5     1.5
b    1.4        10     0.3
c    5.0         8     1.0

In [61]:
# Accessing Datafrfames with fancy indexing
mask = (df['Quantity']<10) & (df['Liters']>1)
df.loc[mask, ['Price','Liters']] # Use masking and fancy

   Price  Liters
a    1.0     1.5

In [63]:
df.loc[['a', 'c'], ['Price','Liters']] # specifico quali sono i nomi delle colonne e degli indici che voglio vedere

   Price  Liters
a    1.0     1.5
c    5.0     1.0

Remember, in NumPy fancy indexing on two-dimensional arrays is done simultaneously,
and selects elements based on exact row-column pairs # come se gli stessi dando delle coordinate

In Pandas, the selection of the rows and columns is done
“in cascade”, producing a Pandas DataFrame with the selected rows and columns # seleziono proprio le colonne e le righe

In [64]:
df.iloc[[0,2], [0,2]]

   Price  Liters
a    1.0     1.5
c    5.0     1.0

you can also assign a value selecting data with one of the access method

In [66]:
df.loc[['a', 'c'], ['Price','Liters']] = 0
df

   Price  Quantity  Liters
a    0.0         5     0.0
b    1.4        10     0.3
c    0.0         8     0.0

In [69]:
# Add new column to DataFrame --> DataFrame is modified inplace
# If the DataFrame already has a column with the specified name, then this is replaced
price = pd.Series([1.0, 1.4, 5], index=['a', 'b', 'c'])
quantity = pd.Series([5, 10, 8], index=['a', 'b', 'c'])
liters = pd.Series([1.5, 0.3, 1], index=['a', 'b', 'c'])
df = pd.DataFrame({'Price':price, 'Quantity':quantity,'Liters':liters})
print(df)
df['Available'] = pd.Series([True, False, True],index=['a', 'b', 'c'])
df # aggiungo nuova colonna

   Price  Quantity  Liters
a    1.0         5     1.5
b    1.4        10     0.3
c    5.0         8     1.0

   Price  Quantity  Liters  Available
a    1.0         5     1.5       True
b    1.4        10     0.3      False
c    5.0         8     1.0       True

In [70]:
# it is also possible to assign directly a list to add a new column to dataframe
df['Available'] = [True, False, True]
df

   Price  Quantity  Liters  Available
a    1.0         5     1.5       True
b    1.4        10     0.3      False
c    5.0         8     1.0       True

In [79]:
price = pd.Series([1.0, 1.4, 5], index=['a', 'b', 'c'])
quantity = pd.Series([5, 10, 8], index=['a', 'b', 'c'])
liters = pd.Series([1.5, 0.3, 1], index=['a', 'b', 'c'])
df = pd.DataFrame({'Price':price, 'Quantity':quantity,'Liters':liters})
df
# you can drop columns -->
# Returns a copy of the updated DataFrame
# Unless inplace=True, in which case the original DataFrame is modified
df1 = df.drop(columns=['Quantity', 'Liters']) # df is not modified, but the colomns is drop in a copy
df1
df1 = df.drop(columns=['Quantity', 'Liters'], inplace=True)
df # df is modified using inplace=True

   Price
a    1.0
b    1.4
c    5.0

In [80]:
price = pd.Series([1.0, 1.4, 5], index=['a', 'b', 'c'])
quantity = pd.Series([5, 10, 8], index=['a', 'b', 'c'])
liters = pd.Series([1.5, 0.3, 1], index=['a', 'b', 'c'])
df = pd.DataFrame({'Price':price, 'Quantity':quantity,'Liters':liters})
# you can Rename column(s)
# Use a dictionary which maps old names with new names
# Returns a copy of the updated DataFrame
df = df.rename(columns={'Quantity': 'nItems','Liters': '[L]'})
df

   Price  nItems  [L]
a    1.0       5  1.5
b    1.4      10  0.3
c    5.0       8  1.0

# computation

operations between Series

In [83]:
# Applied element-wise after aligning indices
# Index elements which do not match are set to NaN (Not a Number)
# quando non c'è match tra gli indici delle due serie allora il valore viene aggiunto alla serie risultante 
# ma con valore NaN
# index in the result is sorted
ser1 = pd.Series({'b':3, 'a':1, 'c':10})
ser2 = pd.Series({'a':1, 'b':3, 'd':30})
res = ser1 + ser2
res

a    2.0
b    6.0
c    NaN
d    NaN
dtype: float64

operations between datafranme

In [87]:
# Applied element-wise after aligning indices and columns
# quando non c'è match tra gli indici o le colonne dei due df allora il valore viene aggiunto al df risultante 
# ma con valore NaN
# index in the result is sorted
# columns in the result are sorted
total1 = pd.Series([3, 1, 10], index=['b', 'a', 'c']) 
quantity1 = pd.Series([4, 2, 20], index=['b', 'a', 'c'])
df1 = pd.DataFrame({'Total':total1, 'Quantity':quantity1})
total2 = pd.Series([1, 3, 30], index=['a', 'b', 'd']) 
quantity2 = pd.Series([2, 4, 40], index=['a', 'b', 'd'])
df2 = pd.DataFrame({'Total':total2, 'Quantity':quantity2})
res = df1 + df2
res

   Total  Quantity
a    2.0       4.0
b    6.0       8.0
c    NaN       NaN
d    NaN       NaN

operations between dataframe and series

In [88]:
# The operation is applied between the Series and each row of the DataFrame
# Follows broadcasting rules --> se le dimensioni non accordano tra loro pandas cerca di ridimensionare
total = pd.Series([1, 3, 5], index=['a', 'b', 'c']) 
quantity = pd.Series([2, 4, 6], index=['a', 'b', 'c'])
df3 = pd.DataFrame({'Total':total, 'Quantity':quantity})
ser = pd.Series({'Total':1, 'Quantity':2})
res = df3 + ser
res

   Total  Quantity
a      2         4
b      4         6
c      6         8

In [14]:
# Pandas Series and DataFrames allow performing aggregations
# mean, std, min, max, sum
# For DataFrames, aggregate functions are applied column-wise and return a Series
# we can also compute the z-score normalization of a df

# missing values

Represented with sentinel value
- None: Python null value --> is a python object
- np.nan: Numpy Not A Number --> is a floating point number
Using nan achieves better performances when performing numerical computations

In [89]:
# Pandas supports both None and NaN, and automatically converts between them when appropriate
pd.Series([4, None, 5, np.nan])

0    4.0
1    NaN
2    5.0
3    NaN
dtype: float64

Operating on missing values (for Series and DataFrames)
- isnull()  Return a boolean mask indicating null values
- notnull() Return a boolean mask indicating not null values
isnull and notnull Return a new Series/DataFrame with the same shape as the input
- dropna()  Return filtered data containing null values
dropna  for series removed null elements
- fillna() Return new data with filled or input missing values

In [90]:
s1 = pd.Series([4, None, 5, np.nan]) # Return a new Series/DataFrame with the same shape as the input
s1.isnull() # mi dice dove sono posizionati i valori nulli quando è true

0    False
1     True
2    False
3     True
dtype: bool

In [93]:
# isna check where there are missing values
# posso fare sum o mean per trovare quanti missing values ho nelle colonne
s1 = pd.Series([4, None, 5, np.nan])
s1.isna().sum() # mi dice che ci sono due valori nulli nella serie

np.int64(2)

In [94]:
s1 = pd.Series([4, None, 5, np.nan])
s1.dropna() # For Series it removes null elements

0    4.0
2    5.0
dtype: float64

In [19]:
# dropna for dataframes it removes rows contain at least a missing value (default behaviour)
# Passing how=all removes rows if they contain all NaN’s
# Alternatively, it is possible to remove columns
# dropped_df = df.dropna(axis='columns')

In [95]:
# Operating on missing values: fillna
# Fill null fields with a specified value (for both Series and DataFrames)
s1 = pd.Series([4, None, 5, np.nan])
s1.fillna(0) # metto 0 al posto dei valori nulli

0    4.0
1    0.0
2    5.0
3    0.0
dtype: float64

In [97]:
# The parameter method allows specifying different filling techniques
# - ffill: propagate last valid observation forward
# -bfill: use next valid observation to fill gap
s1 = pd.Series([4, None, 5, np.nan])
#s1.fillna(method='ffill')
s1.ffill()

0    4.0
1    4.0
2    5.0
3    5.0
dtype: float64

# Combining Pandas objects

Pandas provides 2 methods for combining
Series and DataFrames
- concat() --> Concatenate a sequence of Series/DataFrames
- append() --> Append a Series/DataFrame to the specified object

In [99]:
# concatenating 2 series
# Index is preserved, even if duplicated
# There is nothing that prevents duplicate indices in pandas!
s1 = pd.Series(['a', 'b'], index=[1,2])
s2 = pd.Series(['c', 'd'], index=[1,2])
pd.concat((s1, s2)) # indici duplicati nel risultato

1    a
2    b
1    c
2    d
dtype: object

In [100]:
# To avoid duplicates use ignore_index
s1 = pd.Series(['a', 'b'], index=[1,2])
s2 = pd.Series(['c', 'd'], index=[1,2])
pd.concat((s1, s2), ignore_index=True) # evito duplicati negli indici

0    a
1    b
2    c
3    d
dtype: object

In [102]:
# Concatenating 2 DataFrames --> Concatenate vertically by default
# The append() method is a shortcut for concatenating DataFrames
# -- >Returns the result of the concatenation # df_concat = df1.append(df2)
total1 = pd.Series([1, 3], index=['a', 'b']) 
quantity1 = pd.Series([2, 4], index=['a', 'b'])
df1 = pd.DataFrame({'Total':total1, 'Quantity':quantity1})
total2 = pd.Series([5, 7], index=['c', 'd']) 
quantity2 = pd.Series([6, 8], index=['c', 'd'])
df2 = pd.DataFrame({'Total':total2, 'Quantity':quantity2})
pd.concat((df1,df2))

   Total  Quantity
a      1         2
b      3         4
c      5         6
d      7         8

In [104]:
# Missing columns are filled with NaN
total1 = pd.Series([1, 3], index=['a', 'b']) 
quantity1 = pd.Series([2, 4], index=['a', 'b'])
df1 = pd.DataFrame({'Total':total1, 'Quantity':quantity1})
total2 = pd.Series([5, 7], index=['c', 'd']) 
quantity2 = pd.Series([6, 8], index=['c', 'd'])
liters2 = pd.Series([1,2], index=['c', 'd'])
df2 = pd.DataFrame({'Total':total2, 'Quantity':quantity2, 'Liters':liters2})
pd.concat((df1,df2))

   Total  Quantity  Liters
a      1         2     NaN
b      3         4     NaN
c      5         6     1.0
d      7         8     2.0

In [106]:
# The append() method is a shortcut for concatenating DataFrames
# df_concat = df1.append(df2)

Joining DataFrames with relational algebra: merge()
- Merge on:
    The column(s) with same name in the two DFs, by default
    Specific columns, by specifying on=columns (left_on and right_on may also be used)
    The indices, if left_index/right_index are True -->This preserves the indices (discarded otherwise)
- Depending on the DataFrames, a one-to-one, many-to-one or many-to-many join can be performed --> validate='1:1'|'1:m'|'m:1'|'m:m' to enforce the specific merge
# joined_df = pd.merge(df1, df2)
# pd.merge(df1, df2) --> merge on columns in common
# pd.merge(df1, df2, right_index=True, left_index=True) --> merge on index

# grouping data

Pandas provides the equivalent of the SQL group by statement
It allows the following operations:
- Iterating on groups
- Aggregating the values of each group (mean, min, max, ...)
- Filtering groups according to a condition

In [112]:
# Applying group by
# - Specify the column(s) where you want to group (key)
# - Obtain a DataFrameGroupBy object
df = pd.DataFrame({'k' : ['a','b','a','b'], 'c1': [2,10,3,15], 'c2' : [4,20,5,30]})
grouped_df = df.groupby('k') # 2 groups: 'a' and 'b'
print(grouped_df) # mi mette vicino le righe con indice a e le righe con indice b sotto, la grupu by si basa sulla colonna k

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x76d80d0>

In [114]:
# Iterating on groups
# Each group is a subset of the original DataFrame
for key, group_df in grouped_df:
    print(key) # a e b
    print(group_df)

a
   k  c1  c2
0  a   2   4
2  a   3   5
b
   k  c1  c2
1  b  10  20
3  b  15  30

In [27]:
# Aggregating by group (min, max, mean, std)
# The output is a DataFrame with the result of the aggregation for each group
grouped_df.mean() # Mean, separately for each group
# The index of the result is the key of each group

     c1    c2
k
a   2.5   4.5
b  12.5  25.0

In [118]:
#Aggregating a single column by group
# The output is a Series with the result of the aggregation for each group
grouped_df['c1'].mean() # mi fa la media sulla colonna c1 di ogni gruppo
# l'indice del risultatto è la chiave di ogni gruppo (a, b)

k
a     2.5
b    12.5
Name: c1, dtype: float64

In [119]:
# Filtering data by group
# The filter is expressed with a lambda function working with each group DataFrame (x)
# Keep groups for which column c1 has a mean > 5
grouped_df.filter(lambda x: x['c1'].mean()>5)

   k  c1  c2
1  b  10  20
3  b  15  30

# pivoting

In [122]:
# Pivoting allows inspecting relationships within a dataset
# Suppose to have the following dataset:
df = pd.DataFrame({'type':['a','b','b','a','b','a','b','a'], 'class':[3,2,3,3,2,1,1,2], 'fail':[1,1,1,0,1,0,0,0]})
df

  type  class  fail
0    a      3     1
1    b      2     1
2    b      3     1
3    a      3     0
4    b      2     1
5    a      1     0
6    b      1     0
7    a      2     0

In [124]:
df.pivot_table('fail', index='type', columns='class', aggfunc='sum')
# Shows the number of failures for all the combinations of type and class

class  1  2  3
type
a      0  0  1
b      0  2  1

In [125]:
df.pivot_table('fail', index='type', columns='class', aggfunc='mean')
# Shows the percentage of failures for all the combinations of type and class

class    1    2    3
type
a      0.0  0.0  0.5
b      0.0  1.0  1.0

# multi-index

Multi-Index allows specifying an index hierarchy for
- Series
- DataFrames
Example: index a Series by city and year

In [126]:
ix = [['Rome', 'Rome', 'Turin', 'Turin'], ['2018', '2019', '2018', '2019']]
s1 = pd.Series([10,13,7,9], index=ix)
s1 = s1.sort_index() # Multi-Index must be sorted # if you want to use slicing
print(s1) # le righe hanno indice città e anno

Rome   2018    10
       2019    13
Turin  2018     7
       2019     9
dtype: int64

In [127]:
# we can name index levels to recognize them 
s1.index.names=['city', 'year']
print(s1)

city   year
Rome   2018    10
       2019    13
Turin  2018     7
       2019     9
dtype: int64

In [128]:
# Accessing index levels
# - Slicing and simple indexing are allowed
# - Slicing on index levels follows Numpy rules
print(s1.loc['Rome']) # Outer index level # prendo tutti gli elemnti con città=Roma
print(s1.loc[:,'2018']) # All cities, only 2018 # prendo tutti gli elementi con anno=2018

year
2018    10
2019    13
dtype: int64
city
Rome     10
Turin     7
dtype: int64

In [129]:
print(s1.loc['Turin', '2018':'2019']) # prendo gli elelementi di torino dell'anno dal 2018 al 2019
print(s1[s1>10]) # Masking # seleziono solo gli elementi > 10

city   year
Turin  2018    7
       2019    9
dtype: int64
city  year
Rome  2019    13
dtype: int64

In [130]:
# Multi-indexed DataFrame
# Specify a multi-index for rows
# Columns can be multi-indexed as well
# le righe hanno indice città e anno
# le colonne hanno nomi c1, c2 e poi a, b, a b
ix = [['Rome', 'Rome', 'Turin', 'Turin'], ['2018', '2019', '2018', '2019']]
cols = [['c1','c1','c2','c2'],['a','b','a','b']]
data = np.arange(16).reshape((4,4))
df = pd.DataFrame(data, index=ix, columns=cols)
print(df)

            c1      c2
             a   b   a   b
Rome  2018   0   1   2   3
      2019   4   5   6   7
Turin 2018   8   9  10  11
      2019  12  13  14  15

In [131]:
# Multi-indexed DataFrame: access with outer index level
print(df.loc[:, 'c1']) # Access by column (all rows) # prendo tutte le righe ma seleziono solo la colonna c1
print(df.loc['Rome', 'c1']) # Access rows and cols # prendo le righe con citta roma e colonna c1

             a   b
Rome  2018   0   1
      2019   4   5
Turin 2018   8   9
      2019  12  13
      a  b
2018  0  1
2019  4  5

In [132]:
# Multi-indexed DataFrame: access with outer and inner column levels using tuples
df.loc[:, ('c1', 'a')] # Access by column  # prendo tutte le righe accedendo alla colonna c1 e poi colonna a

Rome   2018     0
       2019     4
Turin  2018     8
       2019    12
Name: (c1, a), dtype: int32

In [133]:
# Multi-indexed DataFrame: access with outer and inner column and index levels using tuples
df.loc[('Rome', '2018'), ('c1', 'a')] # Access single element # accedo all'elelmnto specifico

np.int32(0)

In [134]:
# Multi-indexed DataFrame: slicing
# pd.IndexSlice: Pandas object to make indexing easier
ix = pd.IndexSlice
df.loc[ix['Rome':'Turin', '2018'], ix['c1':'c2', 'a']] # prendo le righe con città da roma a torino e nell'anno 2018
# prendo le colonne da c1 a c2 e poi colonna a

           c1  c2
            a   a
Rome  2018  0   2
Turin 2018  8  10

In [136]:
# Reset Index: transform index to DataFrame columns and create new (single level) index
df.index.names = ['city', 'year'] # gli indici delle righe divenano colonne a livello più alto come c1 e c2
df_reset = df.reset_index()
print(df_reset)

    city  year  c1      c2
                 a   b   a   b
0   Rome  2018   0   1   2   3
1   Rome  2019   4   5   6   7
2  Turin  2018   8   9  10  11
3  Turin  2019  12  13  14  15

In [137]:
# Set Index: transform columns to Multi-Index
# Inverse function of reset_index() 
df_reset.set_index(['city', 'year'])
# le colonne city e year diventano degli indici

            c1      c2
             a   b   a   b
city  year
Rome  2018   0   1   2   3
      2019   4   5   6   7
Turin 2018   8   9  10  11
      2019  12  13  14  15

In [141]:
# Unstack: transform multi-indexed Series to a Dataframe
ix = [['Rome', 'Rome', 'Turin', 'Turin'], ['2018', '2019', '2018', '2019']]
myseries = pd.Series([0,4,8,12], index=ix)
myseries
mydf = myseries.unstack()
mydf

       2018  2019
Rome      0     4
Turin     8    12

In [143]:
# Stack: inverse function of unstack()
# From DataFrame to multi-indexed Series
mynewser = mydf.stack()
mynewser

Rome   2018     0
       2019     4
Turin  2018     8
       2019    12
dtype: int64

In [148]:
# Aggregates on multi-indices
# Allowed by passing the level parameter
# Level specifies the row granularity at which the result is computed
ix = [['Rome', 'Rome', 'Turin', 'Turin'], ['2018', '2019', '2018', '2019']]
cols = [['c1','c1','c2','c2'],['a','b','a','b']]
data = np.arange(16).reshape((4,4))
df = pd.DataFrame(data, index=ix, columns=cols)
df.index.names=['city', 'year']
df
# df.max(level='city')

            c1      c2
             a   b   a   b
city  year
Rome  2018   0   1   2   3
      2019   4   5   6   7
Turin 2018   8   9  10  11
      2019  12  13  14  15

In [150]:
# Aggregates on multi-indices
# df.max(level='year')

In [151]:
# Aggregates on multi-indices
# Can also aggregate columns
# Specify axis=1
# df.max(axis=1, level=0)